html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  z-index: 2;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

li {
  line-height: 1.45em;
}

body {
  font-family: "Roboto";
  font-size: 26px;
  line-height: 1;
}

html {
  margin-top: 0 !important;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  width: 1300px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
}
.header__rubricator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  margin: 15px auto 15px auto;
}
.header__rubricator__a {
  color: white;
}
.header__rubricator__a:not(:last-child) {
  margin-right: 60px;
}

footer {
  background-color: black;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1366px;
  margin-top: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer li {
  margin-bottom: 10px;
}

button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
  width: 200px;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
button:hover {
  background-color: #ffffff;
  color: black;
}

a {
  color: #909090;
  text-decoration: none;
}

h1 {
  font-size: 62px;
  margin-bottom: 15px;
}

h2 {
  font-size: 48px;
  margin: 0 0 45px 2px;
  text-align: center;
}

h3 {
  font-weight: 700;
}

.customize-support {
  overflow-x: hidden;
}

.hiden {
  opacity: 0;
  visibility: hidden;
  position: fixed;
}

.bg-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.map__manufacture.is-visible, .map__textyleprofi.is-visible, .map__sadovod.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s, visibility 0s 0s;
  transition: opacity 0.3s, visibility 0s 0s;
}

.map__manufacture, .map__textyleprofi, .map__sadovod {
  position: absolute;
  left: 5px;
  background-color: #000;
  min-width: 850px;
  min-height: 600px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.box__color-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: black;
  padding: 60px 0;
}
.box__color-black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 120px 0;
}

.screen {
  max-width: 1290px;
  padding: 0 5px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 500px;
  height: 56px;
  border-radius: 20px;
  font-size: 20px;
  padding: 0 0 0 16px;
}
.contact-form.low {
  width: 500px;
  max-width: 440px;
  border-radius: 20px 0 0 20px;
}

.msng-form {
  position: relative;
  padding: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.msng-form__logo {
  position: absolute;
  right: 1px;
  margin-right: 10px;
}
.msng-form label {
  position: relative;
}
.msng-form label svg {
  fill: #909090;
  height: 2rem;
  width: 2rem;
}
.msng-form label input[type=radio] {
  position: absolute;
  min-width: 32px;
  min-height: 32px;
  opacity: 0;
}
.msng-form label input[type=radio] + svg {
  -webkit-transition: all 0 0.3s;
  transition: all 0 0.3s;
}
.msng-form label input, .msng-form label svg {
  cursor: pointer;
}
.msng-form label input[class=msng__logo]:hover + svg,
.msng-form label input[class=msng__logo]:checked + svg,
.msng-form label input[class=msng__logo]:focus + svg {
  fill: #FFFBFA;
}

.s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s1__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}
.s1__logo #logo {
  margin: 0 50px 0 5px;
  height: 5em;
}
.s1__logo > p {
  font-size: 96px;
  font-weight: 700;
}
.s1 .block {
  color: #ffffff;
  max-width: 850px;
  text-align: center;
}

.s2 {
  max-width: 1320px;
}
.s2__tile-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.s2__tile-set__tile {
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s2__tile-set__tile > a {
  color: #ffffff;
}
.s2 .img {
  max-width: 410px;
  max-height: 340px;
  padding-bottom: 4px;
  margin: 0 15px 0 15px;
  -webkit-filter: drop-shadow(4px 4px #6C5C95);
          filter: drop-shadow(4px 4px #6C5C95);
}

.s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s3__tile-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 520px;
}
.s3__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 245px;
  height: 245px;
  overflow: hidden;
}
.s3__image:is(:first-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.s3__image:is(:last-child) {
  margin-left: 30px;
}
.s3 .block {
  max-width: 740px;
  margin-left: 30px;
}

.s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s4__image > img {
  z-index: 1;
  max-width: 940px;
  margin-top: -200px;
  margin-bottom: -200px;
  margin-right: -200px;
}
.s4 .block {
  max-width: 520px;
  margin-right: 30px;
}
.s4 .block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 15px;
}
.s4 .block form > button {
  max-width: 60px;
  min-height: 60px;
  border-radius: 0 20px 20px 0;
  background-color: #fff;
  border: 2px solid #fff;
  padding: 5px;
}
.s4 .block form > button:hover {
  background-color: #000;
}
.s4 .block form > button:hover > svg {
  fill: #fff;
}
.s4 .block form > button > svg {
  fill: #000;
}
.s4 .block form .name_h {
  display: none;
}

.s5 {
  width: 1290px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.s5 .block {
  min-width: 440px;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s5 .block button {
  position: relative;
  width: 440px;
  border: 0px;
  border-radius: 0px;
  border-color: hide;
  padding: 10px 5px 10px 25px;
  margin-bottom: 15px;
  background-color: #909090;
  font-size: 26px;
  text-align: left;
}
.s5 .block button:hover {
  background-color: #f5f5f5;
}
.s5 .block button.on:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  background-color: #000;
  top: 0px;
  left: 0px;
}
.s5 .block .information {
  padding-left: 25px;
  padding-bottom: 15px;
}

.s6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}
.s6__image {
  max-width: 520px;
}
.s6 .block {
  max-width: 740px;
  margin-right: 30px;
}

.s7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.s7 .block {
  min-width: 630px;
  max-width: 630px;
  margin-right: 30px;
}
.s7 .block:nth-child(2n+2) {
  margin-right: 0px;
}

.sticky {
  z-index: 3;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: #9C4146;
  border: 2px solid #9C4146;
}

.popup {
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s0s, visibility 0s 0.3s;
  transition: opacity 0.3s0s, visibility 0s 0.3s;
}

.popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s0s, visibility 0s 0s;
  transition: opacity 0.3s0s, visibility 0s 0s;
}

.popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  text-align: center;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.popup-container .popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.popup-container .popup-close::before, .popup-container .popup-close::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}

.popup-container .popup-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 8px;
}
.popup-container .popup-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 8px;
}

.is-visible .popup-container {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
  .popup-container {
    margin: 8em auto;
  }
}
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.popup-container > form {
  padding: 30px;
}
.popup-container > form > .contact-form {
  max-width: 300px;
  margin-bottom: 15px;
}